:root {
    --patient-grid-column-padding: 5px;
    --color: grey;
    --patient-font-family: "Roboto", "Helvetica Neue", sans-serif;
    --patient-admission-color: #749f79;
    --patient-name-color: #003b5c;
}

.patientInfoCardContainer {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    position: relative;
    margin: 10px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    color: var(--color);
    font-family: var(--patient-font-family);
}

.grid {
    padding-left: unset;
    padding-right: unset;
    padding-inline-start: var(--patient-grid-padding, 5px);
    padding-inline-end: var(--patient-grid-padding, 5px);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    padding-left: var(--patient-grid-column-padding, 5px);
    padding-right: var(--patient-grid-column-padding, 5px);
    padding-top: var(--patient-grid-column-padding, 5px);
    padding-bottom: var(--patient-grid-column-padding, 5px);
    padding-inline-start: var(--patient-grid-column-padding, 5px);
    padding-inline-end: var(--patient-grid-column-padding, 5px);
}
.patientName {
    color: var(--patient-name-color);
    font-weight: bold;
}

.admissionStatus {
    color: var(--patient-admission-color, var(--color));
}
